/* @override http://127.0.0.1/~niko/nnmc/index.css */

html{
	color: #808080;
	font-family: "Adobe Myriad","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #333333;
	margin:-0px;
	padding: -0px;
	text-shadow: #000 1px 1px 0;
}

body {
	font-family: "Adobe Myriad", Helvetica, Verdana,Georgia, Arial, "Sans Serif";
	font-size: 92%;
	margin: -0px;
	text-align: left;
}

h1 {
	color: #a0a0a0;
	font-size: 1.5em;
	margin-top: 18px;
	margin-bottom: 18px;
}

h2 {
	color: #a0a0a0;
	font-size: 1.1em;
	margin-top: 16px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

h3 {
	color: #a0a0a0;
	font-size: 1em;
	margin-top: 14px;
	margin-bottom: 14px;
}

.banner {
	font-weight: bolder;
	padding:12px;
	background-color: black;
	width:486px;
	margin: 0 auto;
	color: #ffffff;
	text-shadow: none;
}

.banner a{
	font-size: 2.5em;
	text-decoration: none;
}

.footer {
	font-size: 0.75em;
	padding:12px;
	background-color: black;
	width:486px;
	margin: 0 auto;
	text-align: center;	
}

.toolbar {
	background-color: rgba(0,0,0,0.2);
	margin: -0px auto;
	padding: 5px;
	width: 500px;
	text-align: center;
}
	
.toolbar a, .toolbar a:hover,a.category-link.selected{
	font-style: bold;
	font-size : 1.1em;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:5px;
	padding-top:5px;
	/*background-color: #606060;*/

}
.toolbar a:hover {
	background-color: #2E2E2E;
	}

a.category-link.selected{
	background-color: #333333;
}

div.nav a,a.date{
	color: #000000;
	text-shadow: none;
}

div.main{
	background-color: #333333;
	width: 500px;	
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin: -0px auto;
}

div {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:3px;
}

div.title{
	text-transform: uppercase;	
	padding: 0px;
}

/*To make the post list normal fonted and not uppercased*/
div.list div.title a{
	text-transform: none;
	font-size: 0.9em;
	text-align: left;
}
div.list{
	line-height: 1em;
}
.title{
	text-transform: uppercase;
	font-size: 1em;
}

div.post{
	padding: 0px;
	padding-top: 10px;
	margin: -0px;
	line-height: 1.3em;

}

div.content{
	padding-left: 10px;
	padding-right: 10px;
	margin: -0px;
}
/*Just because I find the default font too big.*/
div.embedded_gist{
	margin-left: -10px;
	padding-left: 0px;
	font-size: 0.7em;
	text-shadow: none;
}
pre code, code{
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
   	font-size: 0.75em;
	max-width: 480px;
	color: #AAA;
}

ul,ol{
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-left: 0px;
}

table {
	margin-top: 10px;
	font-size: 1em;
	margin-bottom: 10px;
}
th{	
	font-weight:bold;
	padding-right: 13px;
	padding-left: 5px;
	padding:5px;
}
td{
	vertical-align:text-top;
	padding-right: 13px;
	padding-left: 5px;
}
img{
	border: none;
	margin: 0 auto;
}

a{
	color: darkorange;
	text-decoration: none;
}


