/* @override http://127.0.0.1/~niko/nnmc/index.css */

/*@import url("http://yui.yahooapis.com/2.6.0/build/reset/reset-min.css");*/
html{
	color:#ffffff;
	font-family: "Adobe Myriad", Helvetica,Verdana, Georgia, Arial, "Sans Serif";
	background:#00000;
	margin:-0px;
	padding: -0px;
}

body {
	font-family: "Adobe Myriad", Helvetica, Verdana,Georgia, Arial, "Sans Serif";
	background:#707070;
	color:#ffffff;
	font-size: 12pt;
	margin: -0px;
	text-align: left;
	}

h1 {
	font-size: 18px;
	margin-top: 18px;
	margin-bottom: 18px;
}

h2 {
	font-style: ;
	font-size: 16px;
	margin-top: 16px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

h3 {
	font-size: 14px;
	margin-top: 14px;
	margin-bottom: 14px;
}

div.banner {
	font-weight: bolder;
	padding:15px;
	padding-bottom: 9px;
	background: black;
}

.banner a{
	font-size: 28px;
	text-decoration: none;
}

.toolbar {
	background-color: #4c4c4c;
	margin:0px;
	padding:0px;
	padding: 5px;
}
.toolbar a, .toolbar a:hover,a.category-link.selected{
	font-style: bold;
	font-size : 13pt;
	width:100px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:5px;
	padding-top:5px;
	height:40px;
	
}
.toolbar a:hover {
	background-color: #606060;
}
a.category-link.selected{
	background-color: #707070;
}

div.nav a,a.date{
	font-weight: bold;
	color: #4c4c4c;
	/*darkslateblue;*/
}

div.main{
	width: 500px;	
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	margin: 0px;
}

div {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:3px;
}

div.title{
	text-transform: uppercase;	
}

div.list div.title{
	text-align: left;
}
div.list div.title a{
	text-transform: none;
	font-size: 14px;
	text-align: left;
}
div.list div.title {
	padding: 0px;
	margin: 0px;
}

a.title{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bolder;
}

div.title a {
	font-size: 16px;
	font-weight: bold;
}

div.post{
	padding-top: 10px;
	margin: -0px;
	line-height: 15pt;

}

div.content{
	//padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: -0px;
}
code{
	width:500px;
	font-size: 10pt;
	line-height: 10pt;
}
ul,ol{
	margin-top: 4px;
	margin-bottom: 4px;
	list-style-position: outside;
}
ul{
	list-style-type: disc;
}

li {
	margin-left: 20px;
}

table {
	margin-top: 10px;
	font-size: 11pt;
	margin-bottom: 10px;
	border:solid;
	border-width:1px;
}
em{
	font-weight:bold;
}
th{	
	font-weight:bold;
	padding-right: 13px;
	padding-left: 5px;
	padding:5px;
}
td{
	vertical-align:text-top;
	padding-right: 13px;
	padding-left: 5px;
}

textarea {
	background-color:#808080;
	font-family: Helvetica,Arial,Georgia;
	font-size: 13px;
	margin:5px;
	}

textarea#text {
	color: #eaeaea;
}



a{
	color:darkorange;
	text-decoration: none;
}

/*a.tool {
	padding-right: 8px;
	margin: 0px;
}*/

input{
	background-color:#d0d0d0;
}

