/* @override 
	http://127.0.0.1/~niko/nnmc/index.css
	http://127.0.01/~niko/nnmc/index.css
	http://nnmc.loc/index.css
*/

html{
	color: #808080;
	font-family: "Adobe Myriad","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #333333;
	margin:-0px;
	padding: -0px;
	text-shadow: #000 1px 1px 0;
}

body {
	font-family: "Adobe Myriad", "Helvetica Neue",Helvetica, Verdana,Georgia, Arial, "Sans Serif";
	font-size: 92%;
	margin: -0px;
	text-align: left;
	
}

h1 {
	color: #a0a0a0;
	font-size: 1.5em;
	margin-top: 18px;
	margin-bottom: 18px;
}

h2 {
	color: #a0a0a0;
	font-size: 1.1em;
	margin-top: 16px;
	margin-bottom: 16px;
	text-transform: uppercase;
}

h3 {
	color: #a0a0a0;
	font-size: 1em;
	margin-top: 14px;
	margin-bottom: 14px;
}

div {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right:3px;
}

a{
	color: darkorange;
	text-decoration: none;
}

/*The column that contains everything*/
#wrapper{
	padding: 0px;
	width: 500px;  /* contrain the width */
	margin:0 auto;	/* auto-centers the element*/
}

/* The website title */
#banner{
	font-weight: bolder;
	/*background-color: rgba(0,0,0,0.5);*/
	border-left:2px solid darkgray;
	border-bottom:2px solid darkgray;
}

#banner , #footer , #navigation, .nav{
	text-align: center;
	float: right;
	position: fixed;
	display: inline;
	margin: 0 auto;
	margin-left: 510px;
	padding: 10px;
	width: 240px;
}

#banner a{
	font-size: 1.8em;
	text-decoration: none;
}
#pre_footer{
	text-align: center;
	text-shadow: none;
	margin: 0 auto;
	padding: 40px;
}

#footer {
	text-align: left;
	#background-color: rgba(0,0,0,0.5);
	font-size: 0.75em;
	padding:12px;
	bottom: 0px;
	height: 30px;
	padding:10px;
		border-left: 2px solid darkgray;
}

span.date{
	margin-left: -100px;
	width: 120px;
	padding-right: 10px;
}
.nav{
	#background-color: rgba(0,0,0,0.2);
	border-left: 2px solid darkgray;
	text-align: left;
	bottom: 0px;
	padding-bottom: 60px;
}
span.date a, div.nav a{
	line-height: 20px;
}


#navigation {
	position: fixed;
	top: 50px;
	margin-left: 510px;
	width:260px;
	/*background-color: rgba(0,0,0,0.2);*/
	padding: 0px;
	text-align: center;	
}
#navigation span{
	height: 30px;
}
#navigation a, #navigation span, #navigation a, #navigation a:hover, #navigation a.category-link.selected{
	float: left;
	font-style: bold;
	font-size : 1.1em;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom:5px;
	padding-top:5px;
	/*background-color: #606060;*/
	width: 100px;
	border-left: 2px solid darkgray;
}
#navigation a:hover {
	background-color: rgba(0,0,0,0.1);/*#2E2E2E;*/
}

#navigation a.category-link.selected{
	/*background-color: rgba(51,51,51,0.5);*/
	border: 2px solid darkgray;
	border-left: none;	
}

div.title{
	text-transform: uppercase;	
	padding: 0px;
}

/*To make the post list normal fonted and not uppercased*/
div.list div.title a{
	text-transform: none;
	font-size: 0.9em;
	text-align: left;
}
div.list{
	line-height: 1em;
}
.title{
	text-transform: uppercase;
	font-size: 1em;
}

div.post{
	padding: 0px;
	padding-top: 10px;
	margin: -0px;
	line-height: 1.3em;

}

div.content{
	padding-left: 10px;
	padding-right: 10px;
	margin: -0px;
}
/*Just because I find the default font too big.*/
div.embedded_gist{
	margin-left: -10px;
	padding-left: 0px;
	font-size: 0.7em;
	text-shadow: none;
}
pre code, code{
    font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
   	font-size: 0.75em;
	max-width: 480px;
	color: #AAA;
}

ul,ol{
	margin-top: 4px;
	margin-bottom: 4px;
}

li {
	margin-left: 0px;
}

table {
	margin-top: 10px;
	font-size: 1em;
	margin-bottom: 10px;
}
th{	
	font-weight:bold;
	padding-right: 13px;
	padding-left: 5px;
	padding:5px;
}
td{
	vertical-align:text-top;
	padding-right: 13px;
	padding-left: 5px;
}
img{
	border: none;
	margin: 0 auto;
}


